.vj-l-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;

  @include more-than(md) {
    margin: 4rem auto;
  }

  @include more-than(xl) {
    margin: 5rem auto;
  }
}

.vj-l-logos__item {
  position: relative;
  flex: 0 0 20rem;
  width: 20rem;
  max-width: 20rem;
  height: 11rem;
  margin: 1rem;
  margin-top: 0;

  @include more-than(md) {
    margin: 0 1.25rem 3rem 1.25rem;
  }

  @include more-than(xl) {
    flex: 0 0 22rem;
    width: 22rem;
    max-width: 22rem;
    height: 14rem;
    margin: 0 1.5rem 5rem 1.5rem;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &:nth-last-child(2) {
    @include more-than(md) {
      margin-bottom: 0;
    }
  }
}
