.vj-section {
  padding-top: 3rem;
  padding-bottom: 3.5rem;

  @include more-than(md) {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
  }

  @include more-than(xl) {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }
}
