.vj-btn {
  display: inline-block;
  padding: 0.5rem 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #e81f64;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  @include more-than(xl) {
    font-size: 2rem;
  }

  &:hover {
    color: #e81f64;
    border-color: #e81f64;
    background-color: transparent;
  }

  &:focus,
  &:active {
    color: #e81f64;
    border-color: #e81f64;
    background-color: transparent;
    outline: 0;
  }
}
