.vj-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #939393;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.vj-l-logos__item:hover .vj-card {
  color: #fff;
  background-color: #facf3d;
}

.vj-l-logos__item:hover .vj-card--yellow {
  background-color: #facf3d;
}

.vj-l-logos__item:hover .vj-card--blue {
  background-color: #1d3b5e;
}

.vj-l-logos__item:hover .vj-card--pink {
  background-color: #e81f64;
}

.vj-l-logos__item:hover .vj-card--orange {
  background-color: #f79d3e;
}

.vj-card__icon {
  width: 11rem;

  @include more-than(xl) {
    width: 13.6rem;
    height: 8rem;
  }
}

.vj-checkbox:checked + .vj-card {
  color: #fff;
}

.vj-checkbox:checked + .vj-card--yellow {
  background-color: #facf3d;
}

.vj-checkbox:checked + .vj-card--blue {
  background-color: #1d3b5e;
}

.vj-checkbox:checked + .vj-card--pink {
  background-color: #e81f64;
}

.vj-checkbox:checked + .vj-card--orange {
  background-color: #f79d3e;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card {
  color: #fff;
  background-color: #facf3d;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card--yellow {
  background-color: #facf3d;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card--blue {
  background-color: #1d3b5e;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card--pink {
  background-color: #e81f64;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card--orange {
  background-color: #f79d3e;
}

.vj-card__price {
  position: absolute;
  right: 8px;
  bottom: 2px;
  display: none;
  margin-bottom: 0;
  font-size: 1.6rem;
  color: #fff;

  @include more-than(md) {
    right: 8px;
    bottom: 3px;
    font-size: 1.8rem;
  }
}

.vj-checkbox:checked ~ .vj-card__price--1 {
  display: block;
}

.vj-checkbox--divide-all:checked ~ .vj-l-logos .vj-l-logos__item .vj-card ~ .vj-card__price--all {
  display: block;
}
