.vj-checkbox__label {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 0;
  cursor: pointer;

  @include more-than(md) {
    padding-left: 4.2rem;
  }

  @include more-than(lg) {
    padding-left: 6rem;
  }
}

.vj-checkbox__label::before,
.vj-checkbox__label::after {
  content: "";
  position: absolute;
}

.vj-checkbox__label::before {
  top: 0.1rem;
  left: 0;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 0.3rem;
  background-color: #efefef;

  @include more-than(md) {
    top: -0.4rem;
    width: 3.1rem;
    height: 3.1rem;
  }

  @include more-than(lg) {
    top: -0.5rem;
    width: 4.1rem;
    height: 4.1rem;
  }
}

.vj-checkbox__label::after {
  top: 0.4rem;
  left: 3.3px;
  display: none;
  width: 1.5rem;
  height: 1rem;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);

  @include more-than(md) {
    top: 0.2rem;
    left: 0.6rem;
    width: 2rem;
    height: 1.3rem;
  }

  @include more-than(lg) {
    top: 0.1rem;
    left: 0.6rem;
    width: 3rem;
    height: 2rem;
  }
}

.vj-checkbox:checked + .vj-checkbox__label::after {
  display: block;
}
