.vj-footer {
  padding: 3rem 0 3.7rem 0;
  background-color: #1d3b5e;

  @include more-than(md) {
    padding: 3rem 0 4.7rem 0;
  }

  @include more-than(xl) {
    padding: 3rem 0 5.7rem 0;
  }
}

.vj-footer__logos {
  display: flex;
  justify-content: center;
}

.vj-footer__social-link {
  display: block;
}

.vj-footer__social-link:hover .vj-footer__img-el {
  color: #6f7582;
}

.vj-footer__img-el {
  width: 3.7rem;
  height: 3.7rem;
  object-position: center;
  color: #898f9b;
  transition: color 0.2s ease;

  @include more-than(md) {
    width: 4.7rem;
    height: 4.7rem;
  }

  @include more-than(xl) {
    width: 5.7rem;
    height: 5.7rem;
  }
}
