.vj-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;

  @include more-than(md) {
    padding: 2.1rem 2rem;
  }

  @include more-than(xl) {
    padding: 2.3rem 2.4rem;
  }
}

.vj-header--dark {
  background-color: #1d3b5e;
}

.vj-header__img-el {
  width: 8rem;
  object-position: center;

  @include more-than(md) {
    width: 10rem;
  }

  @include more-than(xl) {
    width: 11.6rem;
  }
}

.vj-header__img-el--bf {
  width: 16rem;

  @include more-than(md) {
    width: 20rem;
  }

  @include more-than(xl) {
    width: 24.2rem;
  }
}
