.vj-input-line {
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  background: none;

  @include more-than(lg) {
    width: 37rem;
  }
    
  &:focus,
  &:active {
    outline: none;
  }
}
