.vj-main-hero {
  position: relative;
  height: 100vh;
  min-height: 57rem;

  @include more-than(md) {
    min-height: 60rem;
  }

  @include more-than(xl) {
    min-height: 75rem;
  }
}

.vj-main-hero__spark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  animation: spark ease-in-out 4s infinite;
}

.vj-main-hero__spark--no-anim {
  opacity: 1;
  animation: none;
}

.vj-main-hero__spark--main {
  opacity: 0.6;
  animation: none;
}

.vj-main-hero__spark--2 {
  animation-delay: 0.5s;
}

.vj-main-hero__spark--3 {
  animation: spark-opacity ease-in-out 4s infinite;
  animation-delay: 1.5s;
}

.vj-main-hero__spark img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes spark {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spark-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.vj-main-hero__content {
  position: absolute;
  top: 9rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include more-than(md) {
    top: 10.4rem;
  }

  @include more-than(xl) {
    top: 11.8rem;
  }
}

.vj-main-hero__title {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2.9rem;
  color: #fff;

  @include more-than(sm) {
    font-size: 3.2rem;
  }

  @include more-than(md) {
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  @include more-than(xl) {
    margin-bottom: 5.5rem;
    font-size: 4.6rem;
  }
}

.vj-main-hero__title--bigger {
  margin-bottom: 4rem;

  @include more-than(md) {
    margin-bottom: 6rem;
    font-size: 4.2rem;
  }

  @include more-than(md) {
    margin-bottom: 8rem;
    font-size: 5rem;
  }

  @include more-than(xl) {
    margin-bottom: 9.8rem;
    font-size: 5.6rem;
  }
}

.vj-main-hero__inside-box {
  width: 100%;
  max-width: 66.3rem;
  padding: 1.5rem;

  @include more-than(lg) {
    max-width: 73rem;
    padding: 0;
  }
}

.vj-main-hero__thank-logo {
  width: 20rem;

  @include more-than(md) {
    width: 25rem;
  }

  @include more-than(xl) {
    width: 31.2rem;
  }
}
