.vj-textarea {
  width: 100%;
  max-width: 56.9rem;
  height: 15rem;
  max-height: 14.6rem;
  padding: 1rem;
  margin-bottom: 1.9rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: #efefef;
  resize: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px #e81f64;
  }
}
