.vj-tooltip {
  position: absolute;
  top: calc(100%);
  left: -3rem;
  z-index: 10;
  display: none;
  width: 260px;
  padding-top: 0.5rem;

  @include more-than(lg) {
    left: calc(50% - 140px);
    width: 280px;
  }

  @include more-than(xl) {
    left: calc(50% - 200px);
    width: 400px;
  }
}

.vj-l-logos__item:hover .vj-tooltip {
  display: block;
}

.vj-tooltip__content {
  padding: 1.5rem;
  text-align: left;
  border-radius: 0.3rem;
  background-color: #efefef;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);

  @include more-than(md) {
    padding: 2rem;
  }

  @include more-than(xl) {
    padding: 2.7rem 2.9rem;
  }
}

.vj-tooltip__title {
  font-weight: 700;
  font-size: 1.5rem;

  @include more-than(lg) {
    font-size: 1.6rem;
  }
}

.vj-tooltip__text {
  font-size: 1.4rem;

  @include more-than(lg) {
    font-size: 1.5rem;
  }
}
