html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: $vj-f-default;
  color: $vj-fc-primary;

  @include more-than(md) {
    font-size: $vj-fz-mid;
  }

  @include more-than(lg) {
    font-size: $vj-fz-default;
  }
}
