@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-Bold.eot');
  src: url('/fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
      url('/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
      url('/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-Regular.eot');
  src: url('/fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
      url('/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
      url('/fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),

      url('/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

.vj-h-primary {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;

  @include more-than(md) {
    margin-bottom: 2.5rem;
    font-size: 2.25rem;
  }

  @include more-than(xl) {
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
  }
}
