//utilities

.vj-u-mb-4 {
  margin-bottom: 4rem !important;
}

.vj-u-mt-6 {
  margin-top: 4rem !important;
}

.vj-u-mb-hero {
  margin-bottom: 8rem;

  @include more-than(md) {
    margin-bottom: 9rem;
  }

  @include more-than(xl) {
    margin-bottom: 13.2rem;
  }
}

.vj-u-mb-6 {
  margin-bottom: 6rem !important;
}

.vj-u-mb-8 {
  margin-bottom: 5rem !important;

  @include more-than(md) {
    margin-bottom: 6.5rem !important;
  }

  @include more-than(xl) {
    margin-bottom: 8.6rem !important;
  }
}
